/* Custom cursor style */
.custom-cursor {
  position: fixed;
  width: 40px;
  height: 40px;
  border: 3px solid #f1cd2d;
  /* background-color: red; */
  border-radius: 50px; /* same as Motion example */
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.08s ease-out;
  z-index: 9999;
}

/* Smooth scale on hover target */
.hover-target:hover ~ .custom-cursor {
  transform: translate(-50%, -50%) scale(3);
}